title: Ice Out Rice
email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  Information for undocumented people and their supporters in Rice County
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: jekyllrb
github_username:  jekyll

# Build settings
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-include-cache

collections:
  tabs:
    output: true
    permalink: /:collection/:name
