body, window {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p, div, span, h1, h2, h3, h4 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.content {
    margin: 0 15vw;
}

/* Navbar styles */
.nav {
	width: 100vw;
	min-height: 15vh;
	/*background-image: linear-gradient(to bottom, #ffdc8fc5, #00000000);*/
	

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-side {
	display: flex;
	flex-direction: row;
	margin: 0 5rem;
}

.nav-item {
	color: linear-gradient(to bottom, #ffffff, #000000);
	font-size: 48px;
	padding: 1.5rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.nav-item:hover {
	cursor: pointer;
	text-shadow: 0px 0px 20px black;
}

.nav-mobile {
	display: none;
}

#sidebar {
	display: none;
}




@media (max-width: 560px) {
	.nav {
		display: none;
	}
	.nav-mobile {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 8vw;
	}

	.home {
		font-size: 48px;
		padding: 1.5rem;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	#hamburger,#x-icon {
		width: 3em;
		height: 3em;
		align-self: center;
		justify-self: center;
		cursor: pointer;
	}

	#x-icon {
		display: none;
		z-index: 10;
	}

	#darken {
		width: 100vw;
		height: 100vh;
		background-color: black;
		opacity: 0;
		display: none;
		position: fixed;
		z-index: 5;
	}

	#sidebar {
		display: none;
		position: fixed;
		left: 100vw;
		top: 0;
		padding-top: 10vh;
		background-color: white;
		width: 60vw;
		height:100vh;
		z-index: 8;
	}

	.side-item {
		margin-bottom: 2vh;
		margin-left: 5vw;
		font-size: 2em;
	}




}